body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-align: left;
    font: black;
    padding: 10px;
}
h1 {
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 0px;
}
h2 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0px;
}
h3 {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 0px;
}
#subtitle {
	margin-top: 0px;
	margin-bottom: 20px;
}
.home:hover {
	color: #808080;
	cursor: pointer;
}
#menu-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#menu-btns {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
#menu-btns button{
	/*background-color: white;*/
	font-family: 'Open Sans', sans-serif;
    font-weight: 200;
	color: black;
	font-size: 18px;
	width: 120px;
	height: 32px;
	border: none;
	border-radius: 0px;
	margin: 5px;
}
#menu-btns button:hover {
	background-color: #D3D3D3;
	cursor: pointer;
}
.active {
	background-color: #D3D3D3;
}
#linkedin:hover{
	/*background-color: #0077B5;
	color: white;*/
	color: #0077B5;
}
.contents {
	display: flex;
	flex-direction: row;
}
#resume-photo {
	margin: 10px 20px 10px 0px;
	height: 100%;
	width: auto;
}
.bp {
	margin: 10px 20px 10px 0px;
}
.resume-head {
	text-decoration: underline;
	margin-top: 25px;
}
p {
	margin: 0px;
}
.resume-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.res-contents {
	flex: 0 0 400px;
	display: block;
	margin-right: 5px;
}
.res-contents-2 {
    flex: 0 0 560px;
    display: block;
    margin-right: 20px;
}
.res-skills {
	flex: 0 0 200px;
	display: block;
}
#interests {
	justify-content: left;
}
ul {
	margin-top: 0px;
}
#all-photos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container {
	position: relative;
}
.title-photo {
    width: 300px;
    height: 300px;
    margin: 20px;
}
.overlay {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 300px;
  width: 300px;
  opacity: 0;
  background-color: white;
}
.container:hover .overlay {
  opacity: 0.85;
}
.text {
	position: absolute;
	top: 100px;
	left: 50px;
	color: black;
	text-decoration: none;
	text-align: left;
	margin-right: 30px;
}
#back-btn {
	color: black;
	margin-bottom: 10px;
}
.tablet-photo {
    width: 75%;
    height: 75%;
    margin: 20px 0 20px 0;
}
.reg-photo {
    width: 50%;
    height: 50%;
    margin: 20px 0 20px 0;
}
.app-photo {
    width: 300px;
    height: 100%;
    margin: 20px 10px 20px 0;
}
.vert-block-photo {
	height: 50%;
	width: 80%;
	width: 100%;
}
.proj-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.vert-block {
	display: block;
	flex-direction: column;
	/*justify-content: space-between;*/
	margin: 20px 20px 20px 0;
}
.text-block p{
	margin-bottom: 10px;
}
.flex-text p{
	margin-top: 20px;
	margin-left: 20px;
}
.img-block {
	display: block;
	height: 100%;
	width: auto;
	margin: 0px;
}
iframe {
    margin: 20px 0px 20px; 
}
.dense-photo {
	width: 50%;
    height: 50%;
    margin: 20px 20px 20px 0;
}
#spoon-carving {
    width: 200px;
    height: 650px;
    margin-bottom: 20px;
}
#train-bars {
	/*width: 18.25%;
	height: 36.5%;*/
	width: 36%;
	height: 72%;
	margin: 20px 11% 20px 20px;
}
.icon-photo {
	width: 136px;
	height: 136px;
}
#home-photos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.portfolio-text {
	width: 300px;
/*}
.portfolio-text p{*/
	color: black;
	text-decoration: none;
	margin-left: 20px;
}
.home-container {
	position: relative;
	background-color: #D3D3D3;
	margin: 20px 20px 0 0;
	padding-bottom: 20px;
}
.home-container:hover .overlay {
  opacity: 0.85;
}