body {
    background-color: #F5DEB3;
    font-family: 'Arvo',Arial,sans-serif;
}

h1 {
    color: #800080;
    font-size: 36px;
}

h2 {
    color: #4B0082;
    font-size: 24px;
}

h3 {
    color: #4B0082;
    font-size: 16px;
}

p {
    color: #4B0082;
    font-size: 12px;
}