body {
    background-color: #F5DEB3;
    font-family: 'Arvo', Georgia, serif;
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
    flex-wrap: wrap;
}

h1 {
    color: #800080;
    font-size: 40px;
}

h2 {
    color: #4B0082;
    font-size: 32px;
}

h3 {
    color: #4B0082;
    font-size: 24px;
}

p {
    color: #4B0082;
    font-size: 16px;
}

ul {
    color: #4B0082;
    font-size: 16px;
}